extends layout

block content
    h1= title
    table(class= 'table table-hover')
        thead(class='thead-dark')
            tr
                th(scope='col') Cestas
        tbody
            each basket in baskets
                tr
                    td= basket.description
                    td
                        form(method='POST', action='/baskets/delete')
                            input(name='id', type='hidden', value=basket.id)
                            button(class='btn btn-primary', type='submit') Delete
    form(method='POST', action='/baskets')
        div(class='col-sm-4')
            label(for='basket', class='col-sm-2 col-form-label') Cesta
            select(class='form-control', name='product_id')
                each product in products
                    option(value=product.id, selected=false)= product.description
        div(class='col-sm-4')
            button(type='submit', class='btn btn-primary') Cadastrar