extends layout

block content
    h1 = title
    form(method='POST', action='/cities')
        div(class='col-sm-4')
            label(for='city', class='col-sm-2 col-form-label') City:
            input(type='text', class='form-control', name='city', placeholder='City')