extends layout

block content
    h1= title
    div(class='col-sm-4')
        label(for='basket' class='col-sm-2 col-form-label') Cesta
        select(class='form-control', name='basket_id', onchange='this.form.submit()')
            each basket in baskets
                option(value=basket.id)= basket.description
        label(for='date', class='col-sm-2 col-form-label') Date
        input(name='date', type='date' value=date)