doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navBar
      div.container
        ul.col-md-12.row
          a(href='#')
              ul.col-md3.col-md-offset-1 Login
    block content
