doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.bg-light.border.navbar-expand-md.navbar-light
      .container-fluid
        a.navabar-brand(href='/')
          span.yellow L
            console.log("reliaze o log");
            ul.nav
              a(href='#')
                ol.nav-item Login
    block content
