    extends layout
    head
        title login
    bloc content
        form(method='POST', action='/login')
            div
                label(for='username') Username:
                input(type="text", name='username')
            div
                label(for='password') Password:
                input(type='password', name='password')
            div
                button(type='submit') Log in